h1 {
    color: pink;
    font-style: italic;
}

h1:hover {
    color:purple
}

.note {
    color: green;
    padding-top: 10px;
    font-size: 15px;
}

.error {
    color: red;
    font-size: 20px;
    padding: 10px;
    background-color: lightgray;
    border-color: red;
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 10px;
}
